<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>登录</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--		<link th:href="@{css/mui.css}" rel="stylesheet" />-->
    <script th:replace="common/head::static"></script>
    <script th:src="@{/common/nprogress/nprogress.js}"></script>
    <link rel='stylesheet' th:href="@{/common/nprogress/nprogress.css}"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!--		<link rel="stylesheet" th:href="@{/static/css/mui.css}"/>-->
</head>
<body onload="getCookie();">
<!--头部-->
<header class="mui-bar mui-bar-nav">
    <div>
        <h1 class="mui-title">注册</h1>
    </div>
</header>
<!--	主体内容-->
<div id="mui-content">
    <div style="margin-top: 60px"></div>
    <h1 style="margin: 0 auto;width: 240px" th:text="|Hello ! 请登录|"></h1>
<!--    <p th:text="${msg2}" style="color: red"></p>-->
<!--    <p th:text="${emsg}" style="color: red"></p>-->
    <!--<form action="/login" method="post">-->
    <!--    Username:<input type="text" name="username"/><br/>-->
    <!--    Password:<input type="password" name="password"/><br/>-->
    <!--    <input type="submit"/>-->
    <!--</form>-->

<!--    <form action="/login" method="post" class="mui-input-group" style="margin-top: 20px">-->
    <form action="/login" method="post" class="mui-input-group" style="margin-top: 20px">
        <div class="mui-text-center">
            <a th:text="${msg2}" style="color: red"></a>
            <a th:text="${emsg}" style="color: red"></a>
        </div>
        <div>测试账号：boy</div>
        <div>测试密码：123</div>
        <div class="mui-input-row">
            <label>用户名</label>
            <input id="userName" name="username" type="text" class="mui-input-clear" placeholder="请输入用户名">
        </div>
        <div class="mui-input-row">
            <label>密码</label>
            <input id="passWord" name="password" type="password" class="mui-input-password" placeholder="请输入密码">
        </div>

        <div style="text-align: center;width: 100%">
            <input style="margin: 10px;margin-left: 20px" type="checkbox" name="rememenber" id="rememenber">：记住密码<br/>
        </div>


        <div class="mui-button-row">
            <button type="submit" class="mui-btn mui-btn-primary" onclick="tologin()">确认</button>
            <a href="/register" type="button" class="mui-btn mui-btn-danger" >前往注册</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    //把信息设置进去Cookie里面去
    function setCookie(){
        var userName = $('#userName').val();
        var passWord = $('#passWord').val();
        var aa = $("input[type='checkbox']").is(":checked");//获取是否选中
        if(aa==true){//如果选中-->记住密码登录
            $.cookie("userName",userName.trim(),7);//有效时间7天，也可以设置为永久，把时间去掉就好
            $.cookie("passWord",passWord.trim(),7);
            alert("有效期7天")
        }else{//如果没选中-->不记住密码登录
            $.cookie("passWord", "");
            $.cookie("userName", "");
            // alert("没有记住密码")
        }
    }


    function getCookie(){ //获取cookie
        var userName = $.cookie("userName"); //获取cookie中的用户名
        var pwd =  $.cookie("passWord"); //获取cookie中的登陆密码
        if(pwd){//密码存在的话把“记住用户名和密码”复选框勾选住
            $("[name='rememenber']").attr("checked","true");
        }
        if(userName!=""){//用户名存在的话把用户名填充到用户名文本框
            $("#userName").val(userName);
        }else{
            $("#userName").val("");
        }
        if(pwd!=""){//密码存在的话把密码填充到密码文本框
            $("#passWord").val(pwd);
        }else{
            $("#passWord").val("");
        }
    }

    //登录
    function tologin(){
        var userName = $('#userName').val();
        var passWord = $('#passWord').val();
        var aa = $("input[type='checkbox']").is(":checked");//获取选中状态
        if(userName == ''){
            alert("请输入用户名。");
            return;
        }
        if(passWord == ''){
            alert("请输入密码。");
            return;
        }
        if(aa==true){
            setCookie();   //调用设置Cookie的方法
        }else if(aa==false){
            setCookie();  //调用设置Cookie的方法
        }

    }
</script>
</body>
</html>