<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>关注我的</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<!--		<link th:href="@{css/mui.css}" rel="stylesheet" />-->
		<script th:replace="common/head::static"></script>
		<script th:src="@{/common/nprogress/nprogress.js}"></script>
		<link rel='stylesheet' th:href="@{/common/nprogress/nprogress.css}"/>
<!--		<link rel="stylesheet" th:href="@{/static/css/mui.css}"/>-->
		<style type="text/css">
			.div1{
				width: 50px;
				height: 50px;
				/*background-color: red;*/
				border-radius: 50%;
				margin-top: -55px;
				overflow: hidden;
			}
			div img{
				width: 100%;
				display: block;
			}
		</style>
	</head>

	<body>
<!--		<script th:src="@{common/mui/js/mui.min.js}"></script>-->
<!--		<script src="../../static/common/mui/js/mui.js"></script>-->
		<script type="text/javascript">
			mui.init()
		</script>

<header class="mui-bar mui-bar-nav">
	<div>
		<a href="/index/news" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">关注我的</h1>
	</div>
</header>


<div style="margin-top: 60px;">
	<p style="font-size: 18px;">关注我的用户：</p>
</div>
		<div style="height: 280px;width:100%;margin: auto;margin-top: 30p;border: 1px solid #CCCCCC;background-color: white;">

			<div th:each="user : ${users}" style="height: 70px;width:100%;margin: auto;margin-top: 30p;border: 1px solid #CCCCCC;background-color: white;">
				<div style="margin-left: 55px;margin-top: 12px;">
					<p style="font-size: 16px;font-weight: bold;" th:text="${user.nickname}">小苏打</p>
					<p style="font-size: 10px;margin-top: -10px;" th:text="${user.information}">摄影类活跃用户</p>
				</div>
				<div class="div1"><img th:src="@{'/upload/'+${user.imgSrc}}"/></div>
				<div><button th:onclick="'javascript:window.location.href='+@{|'/userInfo/ton/attentionme/${user.id}'|}" id="hhh" style="border-radius: 40%; width: 65px; height: 38px;margin-left: 290px;margin-top:-37px" type="button" >查看</button></div>
			</div>
		</div>
</body>

</html>