<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" charset="utf-8" >
		<title></title>
		<script src="/js/news.js" type="text/javascript" charset="utf-8"></script>
		 <script src="/js/mui.min.js"></script>
		 <script type="text/javascript" src="/js/mui.min.js" ></script>
    <link href="/css/mui.css" rel="stylesheet"/>
    <style>
    	.mui-item1 img{
    		width: 45px;
    		height: 45px;
    	}
    	.mui-item1 h4{
    		margin-left: 15%;
    		/*margin-top: -10%;*/
    		margin-top: -12%;
    	}
    	.mui-item1 p{
    		margin-left: 15%;
    	}
    </style>
	</head>
	<body>
	
	<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a id="aa" href="/index/news"><span class="mui-icon mui-icon-left-nav" ></span></a>
			<h1 class="mui-title">全部关注</h1>
			
		</header>
     <div class="mui-content">
<!--        <div class="mui-item">-->
<!--        	<ul class="mui-table-view">-->
<!--				<li class="mui-table-view-cell">-->
<!--					<a class="mui-navigate-right">你最近没有新增的关注</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div> -->
       <!-- <hr>-->
        <div class="mui-item1">
        	<ul class="mui-table-view">
				<li th:onclick="'javascript:window.location.href='+@{|'/news/attention/${user.id}'|}" th:each="user : ${users}" class="mui-table-view-cell">
					<img th:src="@{'/upload/'+${user.imgSrc}}">
					<h4 th:text="${user.nickname}">木知悉</h4>
					<!--<br>-->
					<p th:text="${user.information}">认证：无</p>
<!--					<button type="button" data-loading-icon="mui-spinner mui-spinner-custom" class="mui-btn mui-btn-primary">关注</button>-->
				</li>
			</ul>
        </div>
</div>
<script type="text/javascript">
// 	mui(document.body).on('tap', '.mui-btn', function(e) {
//     mui(this).button('loading');
//     setTimeout(function() {
//         mui(this).button('reset');
//     }.bind(this), 2000);
// });
//
// document.getElementById('aa').addEventListener('tap',function(){
// 						//alert('test a');
// 					mui.openWindow({
// 					url:'news.html',
// 					id:'news.html'
// 					});
// 				});
</script>
</body>
</html>
