<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" charset="utf-8" >
		<title>消息</title>
		<link rel="stylesheet" href="/css/news.css" />
		<script src="/js/news.js" type="text/javascript" charset="utf-8"></script>
		<script th:replace="common/head::static"></script>
    <style>
    .mui-bar h1{
  font-size: 20px;	
	}
	.mui-badge-primary, .mui-badge-blue {
		margin-top: 17px;
	}
	.mui-table-view:after{
		top: unset;
	}
    </style>																														
</head>
<body>
<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<div>
				<h1 class="mui-title">消息</h1>
<!--				<a>-->
<!--					<div style="float: right">-->
<!--						<img  src="/img/peplo.png" >-->
<!--					</div>-->
<!--					<div style="float: right; margin-top: 12px">-->
<!--						<span>联系客服</span>-->
<!--					</div>-->
<!--				</a>-->
			</div>

		</header>
	<!--	主体内容-->
		<div id="mui-content">
		<!--	第一部分选择-->
		<div class="mui-box">
			<ul type="none" class="mui-item">
				<li onclick="javascript:window.location.href='/news/find'">
					<img src="/img/shoucang.png">
				</li>
				<li onclick="javascript:window.location.href='/news/attentionList'">
					<img src="/img/icon_concern.png">
				</li>
				<li onclick="javascript:window.location.href='/news/attentionme'">
					<img src="/img/pinglun.png">
				</li>
			</ul>
			<br>
			<ul type="none" class="mui-item1">
				<li id="exp" style="margin-left: 6px"><a href="/news/find">查找用户</a></li>
				<li id="new"><a href="/news/attentionList">我的关注</a></li>
				<li id="pinlun"><a href="/news/attentionme">关注我的</a></li>
			</ul>
			
		</div>	
	
		
	<!--	第二部分聊天列表-->
		<div class="mui-box2">
			<ul class="mui-table-view">
				<li th:onclick="'javascript:window.location.href='+@{|'/news/attention/${user.uid}'|}" th:each="user : ${users}" class="mui-table-view-cell">
					<div class="mui-slider-right mui-disabled">
						<a th:href="@{|/news/close/${user.uid}|}" class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<div style="width: 80%; float: left">
							<img th:src="@{'/upload/'+${user.imgSrc}}">
							<h5 th:text="${user.nickname}">通知</h5>
							<p th:text="${user.information}">你有一个新消息了</p>
						</div>
						<div th:if="${user.newinfo} != '0'">
							<span style="float: right" class="mui-badge mui-badge-primary" th:text="${user.newinfo}">11</span>
						</div>

					</div>

				</li>
<!--				<li class="mui-table-view-cell">-->
<!--					<img src="/img/huawei.png" id="huawei">-->
<!--					<h5>华为</h5>-->
<!--					<p>关于手机性能这个问题</p>-->
<!--					<span class="mui-badge mui-badge-success">22</span>-->
<!--				</li>-->
<!--				<li class="mui-table-view-cell">-->
<!--					<img src="/img/moshengrenzongshu.png">-->
<!--					<h5>陌生人消息</h5>-->
<!--					<p>唧唧复唧唧：我想问你个问题关于...</p>-->
<!--					<span class="mui-badge">33</span>-->
<!--				</li>-->
			</ul>
		</div>	
			
		</div>
		
	
	</body>
	
	<script>
		// //		页面跳转
		// document.getElementById('new').addEventListener('tap',function(){
		// 				//alert('test a');
		// 			mui.openWindow({
		// 			url:'newlooking.html',
		// 			id:'newlooking.html'
		// 			});
		// 		});
		//
		// 		//		页面跳转
		// document.getElementById('huawei').addEventListener('tap',function(){
		// 				//alert('test a');
		// 			mui.openWindow({
		// 			url:'business.html',
		// 			id:'business.html'
		// 			});
		// 		});
		// 		//		页面跳转
		// document.getElementById('pinlun').addEventListener('tap',function(){
		// 				//alert('test a');
		// 			mui.openWindow({
		// 			url:'pinglun.html',
		// 			id:'pinglun.html'
		// 			});
		// 		});
		// 		//		页面跳转
		// document.getElementById('exp').addEventListener('tap',function(){
		// 				//alert('test a');
		// 			mui.openWindow({
		// 			url:'sousuo.html',
		// 			id:'sousuo.html'
		// 			});
		// 		});

	</script>
</html>
