<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" charset="utf-8"/>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/pinglun.css"/>
	</head>

	<body>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	
	<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<a ><span class="mui-icon mui-icon-left-nav"></span></a>
			<div class="mui-input-row">			
					
						<select class="mui-h5" style="margin:auto; color:#000;">				
							<option value="">所有评论</option>
							<option value="1">关注的人消息</option>
							<option value="1">一周之内</option>
							<option value="1">一个月之内</option>
							
						</select></span> 

					</div>
						<img src="img/xiaoxi.png">
      
		 
		</header>
	<!--	主体内容-->
	<div id="mui-content">
		<ul class="mui-table-view">
    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="img/greentree.jpg">
            <div class="mui-media-body">
            <h4>青城山</div>
                <p class='mui-ellipsis'>认证：青城山管理员</p>
                <h4>  也可以驾车哦，不一定哦</h4>
                <div class="mui-item2">
                	<ul type="none">
                		
                		<li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="img/touxiang.jpg">
            <div class="mui-media-body">
            <h4>@木知悉</div>
                <p class='mui-ellipsis'>青城山必须自己爬上去吗？</p>
                			
                		</li>
                	</ul>
                	</div>
                
                
         <!--     回复效果-->
               <ul class="mui-table-view"> 
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="#">
            回复
            </a>
            <div class="mui-collapse-content">
                <p>内容：
                <input type="text" placeholder="回复">
               
                <input type="submit" style="margin-left: 30%;">
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="button" value="取消">
                </p>
            </div>
        </li>
    </ul>
            </div>
        </a>
    </li>
    </ul>
	</div>
	<script type="text/javascript">
		
	</script>
    </body>  
</html>